img {
    max-width: 100%;
    height: auto;

}

.dropdown-menu .dropdown-item {
    color: rgb(255, 255, 255);
}

.dropdown-menu .dropdown-item:hover {
    color: rgb(0, 0, 0);
}

.dropdown-menu .dropdown-item:active{
    background-color:#0f531c;
    color: white;
}

.txt {
    position: absolute;
    top: 25%;
    color: #fff;
    padding: 19px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    display: flex;
    margin-left: 50%;
    margin-top: 5%;

}

.bg-img {
    height: 130vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    top: 10px;
    left: 0;
    z-index: -1;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}


.button {
    display: inline-block;
    background: #4c6881;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}

.button:hover {
    opacity: 0.8;
}

.contact_info {
    width: 100%;
}

.contact_info_item {
    width: calc((100% - 60px) / 3);
    height: 120px;
    border: solid 1px #cfcaca;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 32px;
    padding-right: 15px;
    margin-top: 90px;
}

.contact_info_image {
    width: 35px;
    height: 35px;
    text-align: center;
}

.contact_info_image img {
    max-width: 100%;
}

.contact_info_content {
    padding-left: 17px;
}

.contact_info_title {
    font-weight: 500;
}

.contact_info_text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

/*********************************
4.1 Contact Form
*********************************/


.contact_form_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 37px;
}

.contact_form_inputs {
    margin-bottom: 30px;
}

.input_field {
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #a09a9a;
    border-radius: 5px;
    outline: none;
    color: #03548d;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.input_field:focus,
.text_field:focus {
    border-color: #463f3f;
}

.input_field:hover,
.text_field:hover {
    border-color: #463f3f;
}

.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.input_field:-moz-placeholder,
.text_field:-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.input_field::-moz-placeholder,
.text_field::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.input_field::input-placeholder,
.text_field::input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.text_field {
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #a09a9a;
    border-radius: 5px;
    color: #0e8ce4;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.contact_submit_button {
    padding-left: 35px;
    padding-right: 35px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}

.panel {
    width: 100vw;
    height: 50px;
    background: #eeecec;
    margin-top: 120px;
}


@media only screen and (max-width: 991px) {

    .contact_info_item {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact_info_item:last-child {
        margin-bottom: 0px;
    }

}

@media only screen and (max-width: 767px) {

    .input_field {
        margin-bottom: 30px;
        width: 100%;
    }

    .input_field:last-child {
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 575px) {

    .contact_submit_button {
        font-size: 13px;
        padding-left: 25px;
        padding-right: 25px;
    }

}